Html {
    box-sizing: border-box;
    font-size: 100%;
}
body {
    background: $Lightgraycyan;
    font-family: $font-family;
}

.container {
    @include breakpoint-less(medium) {
        width: 375px;
        height: 786px;
        margin-top: 20px;
    }    
    width: 922px;
    height: 484px;
    background-color: $White;
    margin: auto;
    margin-top: 70px;
    border-radius: 30px;
}

h1 {
    position: relative;
    font-size: 17px;
    text-align: center;
    margin-top: 100px;
    color: $Darkgraycyan;
    letter-spacing: 9px;
    @include breakpoint-less(medium) {
        margin-top: 20px;
    }
}
